#chat-screen {
  background-color: #abc1d1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top:0;
  position: fixed;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 1;
  /* z-index default = 0 */
}

#chat-screen .main-screen {
  padding-top: 100px;
}


.chat-screen__date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.chat-screen__date-today {
  color: #dee4e8;
  background-color: #92a4b2;
  padding: 8px 20px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 15px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  font-size: 18px;
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble{
  background-color: var(--yellow);
  margin-left: 5px;
  border-radius: 15px;
  border-top-right-radius: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

/* .message-row--own .message__bubble {
  order:1;
}
.message-row--own .message__time {
  order:0;
} */


.reply {
  position:fixed;
  bottom:0px;
  padding-bottom: 400px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reply .form_colum:first-child {
  width: 20%;
}

.reply .form_colum:nth-child(2) {
  width: 80%;
}