#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: #abc1d1;
  z-index: 1;
  /* z-index default = 0 */
}

.main-chat {
  padding: 0px 20px;
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  animation: fadeInLeft 0.3s linear forwards;
  transform: translatex(-100px);
}

.message-row--own {
  animation: fadeInRight 0.3s linear forwards;
  animation-delay: 0.5s;
  transform: translatex(100px);
}

.chat-screen__date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.chat-screen__date-today {
  color: #dee4e8;
  background-color: #92a4b2;
  padding: 8px 20px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 15px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  font-size: 18px;
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  margin-left: 5px;
  border-radius: 15px;
  border-top-right-radius: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

/* .message-row--own .message__bubble {
  order:1;
}
.message-row--own .message__time {
  order:0;
} */

.reply {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  /* box-sizing:border-box; 내용에 맞춤 */
}

.reply .reply_column:first-child {
  width: 10%;
}

.reply .reply_column:nth-child(2) {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  padding-left: 15px;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply_column:last-child > i,
.reply_column:last-child button {
  position: absolute;
  right: -15px;
  top: 2px;
}

.reply_column:last-child > i {
  right: 25px;
  top: 7px;
  font-size: 20px;
}

.reply i {
  opacity: 0.5;
}

.reply_column button {
  background-color: var(--yellow);
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 30px;
}

.reply_column button i {
  opacity: 1;
}

.reply .reply_column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply_column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 110%;
  transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
