.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    margin-bottom: 10px;
    align-items: center;
    margin-top: 15px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.screen-header__icons span{
    margin-left: 20px;
}

.screen-header__icons:last-child {
    display: flex;
    justify-content: space-between;
}

.screen-header__new {
        position:absolute;
        background-color: tomato;
        width:6px;
        height:6px;
        border-radius: 50%;
        position: absolute;
        left: 60px;
        bottom: 15px;
        color: white;
        font-weight: 600;
    }